.DS_store
*.pyc
*.zip
*.csv
*.html
*.code-workspace
*.tfevents
*.tfevents.*
*.out
*.pth
*.h5
*.tsv
catboost_training.json

git_pull_reset.sh

titanic/datasets/*
titanic/results/*
titanic/catboost_info/*

house-prices-advanced-regression-techniques/datasets/*
house-prices-advanced-regression-techniques/results/*
house-prices-advanced-regression-techniques/catboost_info/*

digit-recognizer/datasets/*
digit-recognizer/results/*
digit-recognizer/checkpoints/*
digit-recognizer/catboost_info/*

dogs-vs-cats-redux-kernels-edition/datasets/*
dogs-vs-cats-redux-kernels-edition/pytorch_version/results/*
dogs-vs-cats-redux-kernels-edition/keras_version/results/*
dogs-vs-cats-redux-kernels-edition/keras_version/_debug/*
dogs-vs-cats-redux-kernels-edition/keras_version/checkpoints/*
dogs-vs-cats-redux-kernels-edition/keras_version/tensorboard/*

bike-sharing-demand/datasets/*
bike-sharing-demand/results/*
bike-sharing-demand/catboost_info/*

