.DS_store
*.pyc
*.zip
*.csv
*.html
*.code-workspace
*.tfevents.*
*.out
*.pth

git_pull_reset.sh

titanic/datasets/*
house-prices-advanced-regression-techniques/datasets/*
dogs-vs-cats-redux-kernels-edition/datasets/*
dogs-vs-cats-redux-kernels-edition/pytorch_version/results/*
