.DS_store
*.pyc
*.zip
*.csv
*.html
*.code-workspace
*.tfevents.*
*.out
*.pth

dogs-vs-cats-redux-kernels-edition/datasets/*
house-prices-advanced-regression-techniques/datasets/*
titanic/datasets/*
git_pull_reset.sh
